<div id="dash_grid">

    <div id="dash_tab">
      <div id="dash_heading">
        <h3>Wall</h3>
          <center><i class="icon-et-graduation-cap nav_icon_entypo" id="tab_icon"></i></center> 
      </div>  
    </div>

    <div id="dash_tab">
      <div id="dash_heading">
        <h3>Homework</h3>
          <center><i class="icon-et-graduation-cap nav_icon_entypo" id="tab_icon"></i></center> 
      </div>  
    </div>

</div>
