<% @heading = 'My Bookings'  %>
<%= render 'layouts/header' %>

<%= render 'booking_index_side' %>

<div id="booking_table">

  <% @bookings.each do |booking| %>

       <%= render 'booking_tabs', locals: { booking: booking } %>  

  <% end %>

</div>

