<% @heading = 'My Bookings'  %>
<%= render 'layouts/header' %>

<%= render 'booking_index_side' %>

<h3>Past Bookings</h3>
<div id="booking_table">

  <% @old_bookings.each do |booking| %>
  
          <%= render :partial=>'booking_tabs', locals: { booking: booking } %>  

  <% end %>
</div>