<div id="welcome_message">
	<center>
		<h4>Welcome to </h4>
		<h1>in-tuition!</h1>
		<h3>A virtual learning environment designed to enhance your private tuition</h3>
		<p>Manage your courses, bookings and online content all in one handy application</p><br>
		<h4>Tutor?</h4>
		<p>Why not get started by adding a new course</p>
	    <%= link_to raw('<i class="fa fa-book fa-5x"></i>'), new_course_path, :class =>"no_decoration" %> 
	</center>
</div>