<% @heading = 'Dashboard'  %>
<%= render 'layouts/header' %>

<div id="user_dash_posts">
<h4>Recent Posts</h4>
	<%= render 'dash_posts' %>

</div>
<div id="user_dash_bookings">
<h4>Events</h4>
	<%= render 'next_events'  %>
</div>

