// Place all the styles related to the admin controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

#admin_side{
	float:left;
	width:150px;
	height:200px;
}

#new_admin {
	float:left;
	width:400px;
}