
	<div id="top_grid">

	<%= link_to new_upload_path do %>
		<div id="new_tab" class="tab_medium">
			<div id="dash_heading">
				<h3>New<br>Upload</h3>
			</div>
		</div>
	<% end %>

		<div id="all_tab" class="tab_medium">
			<div id="dash_heading">
				<h3>All</h3>
			</div>
		</div>

		<div id="images_tab" class="tab_medium">
			<div id="dash_heading">
				<h3>Images</h3>
			</div>
		</div>

		<div id="documents_tab" class="tab_medium">
			<div id="dash_heading">
				<h3>PDF's</h3>
			</div>
		</div>

	</div>