	<div id="side">

			<%= link_to subjects_path do %> 
				<div id="tab_small">
					<div id="dash_heading">
						<h3>Subjects</h3>
					</div>
					<center><i class="fa fa-file fa-2x icons_100"></i><center>
				</div>
			<% end %>

			<%= link_to topics_path do %> 
				<div id="tab_small">
					<div id="dash_heading">
						<h3>Topics</h3>
					</div>
					<center><i class="fa fa-file-text fa-2x icons_100"></i><center>
				</div>
			<% end %>

			<%= link_to videos_path do %> 
				<div id="tab_small">
					<div id="dash_heading">
						<h3>Videos</h3>
					</div>
					<center><i class="fa fa-film fa-2x icons_100"></i><center>
				</div>
			<% end %>

			<%= link_to uploads_path do %> 
				<div id="tab_small">
					<div id="dash_heading">
						<h3>Uploads</h3>
					</div>
					<center><i class="fa fa-upload fa-2x icons_100"></i><center>
				</div>
			<% end %>

	</div>